{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-28%, -10%);
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="display-4">Reset Password Completed!</h1>
            <div class="centered">
                <iframe src="{% static 'app/images/smile.gif' %}" width="500" height="500" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

